body {
  margin: 0%;
  padding: 0%;
  background: url(./assess/drum)
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container h1 {
  text-align: center;
}

#drum {
  border: 2px solid rgba(225, 225, 225, .2);
  height: 70vh;
  margin-bottom: 10px;
  width: 60vh;
  margin-left: 20px;
  border-radius: 20px;
  background-color: rgba(253, 91, 215, .2);
}

.display {
  margin-bottom: 20px;
  padding: 30px;
  width: 250px;
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  margin-left: 50px;
}

.pads {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
}

.drum-pad {
  width: 100px;
  height: 100px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  margin-left: 50px;
}

.drum-pad:hover {
  background-color: #555;
}
